.cards {
    padding: 4rem;
    background: #fff;
}

h1 {
    text-align: center;
    margin-bottom: 3cm;
}

h2 {
    text-align: center;
    margin-bottom: 2em;
}

.cards__container {
    display: flex;
    justify-content: space-between 20cm;
    flex-flow: column;
    align-items: center;
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;
}

.cards__wrapper {
    position: relative;
}

.cards__items {
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
}


.cards__items .boss-card img {
    transition: 0.3s ease;
    position: relative;
}

.cards__items .boss-card img:hover {
    transform: scale(1.1);
}

.cards__items .boss-card {
    width: calc(100%/2 - 3em/2);
    margin-right: 3em;
    margin-bottom: 2em;
    overflow: hidden;
}

.cards__items .boss-card:nth-child(2n) {
    margin-right: 0;
}

/* @media (max-width: 1500px) {
    .cards__items .boss-card {
        width: calc(100%/2 - 3em/2);
    }

    .cards__items .boss-card:nth-child(3n) {
        margin-right: 3em;
    }

    .cards__items .boss-card:nth-child(2n) {
        margin-right: 0;
    }
} */
@media (max-width: 1500px) {
    .cards__wrapper {
        max-width: 700px; 
    }
}

@media (max-width: 800px) {
    .cards__items .boss-card {
        width: calc(100%);
        margin-right: 0;
    }
}

.boss-card {
    display: flex;
    flex-direction: column;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.boss-card:hover {
    text-decoration: none;
}

.boss-card:hover h1 {
    text-decoration: none;
    color: yellow;
}

.boss-card img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.boss-card .picture-wrap {
    position: relative;
    overflow: hidden;
    margin: 0;
}

.boss-card .picture-wrap::after {
    content: attr(data-category);
    position: absolute;
    bottom: 0;
    margin-left: 2px;
    padding: 6px 8px;
    max-width: calc((100%) - 60px);
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    background-color: #1f98f4;
    box-sizing: border-box;
}

.boss-card h1 {
    margin: 0;
    padding: 10px 0;
    background-color: black;
    color: white;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: 1.3em;
    z-index: 2;
}

.cards__item {
    display: flex;
    flex: 1;
    margin: 0 1rem;
    border-radius: 10px;
}

.cards__item__link {
    display: flex;
    flex-flow: column;
    width: 100%;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
}

.cards__item__pic-wrap {
    position: relative;
    width: 100%;
    padding-top: 50%;
    overflow: hidden;
    margin: 0;
}

.fade-img {
    animation-name: fade-img;
    animation-duration: 2s;
}

.cards__item__pic-wrap::after {
    content: attr(data-category);
    position: absolute;
    bottom: 0;
    margin-left: 2px;
    padding: 6px 8px;
    max-width: calc((100%) - 60px);
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    background-color: #1f98f4;
    box-sizing: border-box;
}

.cards__item__img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    height: auto;
    max-height: 300px;
    width: 100%;
    object-fit: cover;
    transition: all 0.2s linear;
}

.cards__item__img:hover {
    transform: scale(1.1);
    box-shadow:
    inset 0 0 60px #fff,
    inset 20px 0 80px #f0f,
    inset -20px 0 80px #0ff,
    inset 20px 0 300px #f0f,
    inset -20px 0 300px #0ff,
    0 0 50px #fff,
    -10px 0 80px #f0f,
    10px 0 80px #0ff;
    transform: translateY(0px);
}

.cards__item__info {
    padding: 0px 100px 10px;
    display: flex;
    justify-content: center;
    height: 100%;
    background-color: darkblue;
}

.cards__item__text {
    color: white;
    padding-top: 5px;
    font-size: 18px;
    line-height: 22px;
    align-items: center;
    white-space: prewrap;

}

@media only screen and (min-width: 1200px) {
    .content__blog__container {
        width: 84%;
    }
}

@media only screen and (min-width: 1024px) {
    .cards__items {
        display: flex;
    }
}

@media only screen and (max-width: 1024px) {
    .cards__item {
        margin-bottom: 2rem;
    }
}