body {
    font-family: Arial, Helvetica, sans-serif;
}

/*Controlls the size of the card*/
.card {
    padding: 20px;
    min-width: 200px;
    min-height: 200px;
    max-width: 300px;
    max-height: 300px;
    overflow: hidden;
    background-image: url('GuardianRaid.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    background-color: transparent;
}


/*Sets the background image up and adds curved edges */
.card-inner {
    border-style: solid;
    position: absolute;
    bottom: 0px;
    left: 0px;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}



.card-inner-front-body {
    /*Positions text above where its written in*/
    position: absolute;
    color: white;
    top: 100%;
    transition: 0.8s;

}

.card-inner-front-title {
    /*Minumum text size*/
    font-size: calc(10px + 1vw);
    color: white;
}

.card-inner-front-title:hover {
    color: white;
}

/*Controlls the text */
.card-inner-front-heading {
    /*Positions text above where its written in*/
    position: absolute;
    bottom: 0px;
    color: white;
    transition: 0.8s;
}


/*Transitions the heading and body text upwards on hover*/
.card-inner:hover .card-inner-front-heading {
    bottom: 50%;
    text-decoration: underline;
    transition: 0.8s;
}

.card-inner:hover .card-inner-front-body {
    top: 50%;
    transition: 0.8s;
}

/*Positions text relative to the bottom of the container with a scalling margin*/
.card-inner-front-date {
    text-align: right;
    position: absolute;
    margin-bottom: auto;

}